:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  padding-bottom: 4rem;
}

.logo {
  font-size: 3rem;
  color: #bb000e;
  text-shadow: 2px 2px 5px #bb000e;
  margin-top: 0px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inp-1 {
  height: 3rem;
  width: 18rem;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 6px white;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  font-size: 1.3rem;
  padding-left: 1rem;
  transition: 0.3s;
  outline: none;
}

.inp-1:hover {
  transform: scale(1.05);
}
.btn-1 {
  background: #bb000e;
  height: 3rem;
  width: 6rem;
  border: 1px solid black;
  border-radius: 1rem;
  margin-left: 1rem;
  box-shadow: 0 0 10px #bb000e;
  font-size: 1.1rem;
  transition: 0.3s;
}

.btn-1:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px #bb000e;
}

.card {
  height: 32rem;
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  box-shadow: 0 0 15px black;
  border-radius: 10px;
  margin-left: 1rem;
  margin-right: 0rem;
  margin-bottom: 1rem;
}
.image {
  height: 20rem;
  margin-top: 1rem;
  box-shadow: 0 0 3px white;
  width: 13.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.image:hover {
  transform: scale(1.05);
}

.star {
  height: 1.8rem;
  position: relative;
  left: -0.4rem;
  margin-right: 0.8rem;
}
.year {
  margin-right: 5px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  height: 5rem;
  width: 15rem;
  justify-content: center;
  align-items: center;
}

.avengers {
  margin-top: 0px;
  /* position: relative;
  left: -1.2rem; */
  margin-left: 1rem;
  margin-right: 1rem;
}

.genre {
  margin-top: -10px;
 
  display: flex;
  flex-direction: row;
}

.cards {
  width: 100%;
  /* height: 100vh; */
  display: grid;
  /* grid-column: 1 / span 5; */
  grid-template-columns: repeat(4 , 22rem );
  /* grid-template-columns:400px */
  /* gap: 5px; */

  overflow: visible;

  margin-left: 2.5rem;

  margin-top: 2rem;
  gap: 0px;
  
}
.error-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error {
  font-size: 3rem;
}

@media (max-width: 600px) {
  .cards {
    display: flex;
    flex-direction: column;
    overflow: visible;
    justify-content: center;
    align-items: center;
  }

  .inp-1 {
    width: 11rem;
    font-size: 1rem;
    padding-left: 1rem;
    height: 2.5rem;
  }

  .card {
    width: 19rem;
    margin-left: 0px;
    height: 33rem;
    margin-bottom: 1rem;
  }
  .cards {
    width: 21rem;
    margin-left: 0px;
    margin-right: 0px;
  }

  .image {
    width: 15rem;
    height: 22rem;

    cursor: pointer;
  }
}
